[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson.git
[submodule "Simple-WebSocket-Server"]
	path = Simple-WebSocket-Server
	url = https://github.com/eidheim/Simple-WebSocket-Server.git
